.Content {
  text-align: left;
}
.content-text {
  margin: 1em;
  line-height: 1.5em;
  color: #0007;
  font-size: 1em;
}
.btn {
  width: 9em;
  height: 2.5em;
  background: #00d747;
  color: #fff;
  border-radius: 3em;
  font-size: 0.9em;
  margin: 1em;
}
.content-head {
  text-align: left;
  font-size: 1.5em;
  font-weight: 400;
  margin: 0.6em;
}
@media (max-width: 1200px) {
  .content-text {
    font-size: 0.8em;
  }
}
